.featuredProducts {
  margin: 100px 200px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 3;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: gray;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  // For medium devices
  @media (max-width: 768px) {
    margin: 50px 100px;

    .top {
      flex-direction: column;
      align-items: flex-start;
    }

    .bottom {
      flex-direction: column;
      align-items: center;
    }
  }

  // For small devices
  @media (max-width: 576px) {
    margin: 20px 50px;

    .top {
      flex-direction: column;
      align-items: flex-start;
    }

    .bottom {
      flex-direction: column;
      align-items: center;
    }
  }

  // For large devices
  @media (min-width: 992px) {
    margin: 100px 200px;
  }

  // For extra large devices
  @media (min-width: 1200px) {
    margin: 150px 300px;
  }
}